<nav class="navbar">
    <div class="logo__container">
        <%- include('svgs/check') %>
    </div>
    <div class="header-buttons__container">
        <a class="button--transparent header__button toggle-mode"><%- include('svgs/moon') %></a>
        <a class="button--transparent header__button">Register</a>
        <a class="button--transparent header__button">Log in</button>
        <a class="button--transparent header__button">Log out</a>
    </div>
</nav>