<nav class="navbar">
    <div class="logo__container">
        <a href="/">
            <%- partial('svgs/check') %>
        </a>
    </div>
    <div class="header-buttons__container">
        <a class="button--transparent header__button toggle-mode"><%- partial('svgs/moon') %></a>
        <% if(!currentUser) { %> 
            <a class="button--transparent header__button" href="/register">Register</a>
            <a class="button--transparent header__button" href="/login">Log in</a>
        <% } else { %>
            <a class="button--transparent header__button" href="/logout">Log out</a>
        <% } %>
    </div>
</nav>