<% layout('layout') %>
<article class="error">
    <section class="error__status">
        <%= err.statusCode %>
    </section>
    <section class="error__message">
        <%= err.message %>
    </section>
</article>