<% layout('../layout') %>
<form action="/login" method="POST" class="container__form">
    <h1 class="form__title">Log in</h1>
    <div class="input-container">
        <label class="form__input__label" for="username">Username</label>
        <input class="form__input" type="text" name="username" id="username">
    </div>
    <div class="input-container">
        <label class="form__input__label" for="password">Password</label>
        <input class="form__input" type="password" name="password" id="password">
    </div>
    <button class="button input form__button">Log in</button>
</form>