nav {
    position: fixed !important;
    z-index: 1 !important;
    top: 0 !important;
    left: 0 !important;
    overflow-x: hidden !important;

    height: 100vh;
    width: var(--sidebar-width);
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
    border-right: 2px solid var(--black);
}

.brand-logo:hover {
    scale: 1.2;
    color: var(--white);
}

.header-buttons__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__button {
    min-height: 5rem;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    transition: var(--transition);
}

.header__button:hover {
    scale: 1.1;
    color: var(--white);
    text-shadow: 1px 1px var(--black);
}

.icon:hover {
    color: var(--white);
    scale: 1.1;
    text-shadow: 1px 1px var(--black);
}

.main__add-new-button {
    font-size: 32px;
    text-align: center;
    background: var(--primary-color);
    color: var(--black);
    width: 3.5rem;
    margin-bottom: 2rem;
}

.main__add-new-button:hover {
    color: var(--white);
    text-shadow: 1px 1px var(--black);
}