:root {
    --primary-color: #00A3FF;
    --secondary-color: #0DFFD5;
    --gradient: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    --error: #FF5C00;
    --success: #00FF66;

    --black: #2E373B;
    --muted: #c5c5c6;
    --white: #F5F5F5;

    --red: #FF6666;
    --yellow: #FFDD66;
    --green: #66FF75;

    --azure: #66F6FF;
    --blue: #6691FF;
    --purple: #BC66FF;

    --br-bg: 10px;
    --br-sm: 5px;

    --transition: all 200ms ease-in-out;
    --sidebar-width: 7rem;
}

:root.dark-mode {
    --primary-color: #013655;
    --secondary-color: #006151;
    --gradient: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    --error: #FF5C00;
    --success: #00FF66;

    --black: #F5F5F5;
    --muted: #c5c5c6;
    --white: #2E373B;

    --red: #FF6666;
    --yellow: #FFDD66;
    --green: #66FF75;

    --azure: #66F6FF;
    --blue: #6691FF;
    --purple: #BC66FF;

    --br-bg: 10px;
    --br-sm: 5px;

    --transition: all 200ms ease-in-out;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background: var(--white);
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    block-size: fit-content;
}

.noDisplay {
    display: none;
}

.icon--big {
    width: 70px;
    color: var(--black);
    transition: var(--transition);
}

.icon--small {
    width: 30px;
    color: var(--black);
    transition: var(--transition);
}

.button--transparent {
    background: none;
    border: none;
    text-decoration: none;
    color: var(--black);
}

.button {
    border: 2px solid var(--black);
    border-radius: var(--br-sm);
}

.input {
    transition: var(--transition);
}

.input:hover {
    scale: 1.05;
}

.to-do__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 2px solid var(--black);
    border-radius: var(--br-bg);
    z-index: 10;
    background: var(--white);
    width: 40rem;
    max-width: 80%;
    transition: var(--transition);
}

.to-do__modal.active {
    transform: translate(-42%, -50%) scale(1);
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9;
}

.button--close:hover {
    color: var(--muted);
}

.low {
    border: 7px solid var(--azure);
    outline: 2px solid var(--black);
    outline-offset: -8px;
}

.medium {
    border: 7px solid var(--blue);
    outline: 2px solid var(--black);
    outline-offset: -8px;
}

.high {
    border: 7px solid var(--purple);    
    outline: 2px solid var(--black);
    outline-offset: -8px;
}

.draggable {
    cursor: move;
}

.dragging {
    opacity: 0.5;
}